<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reponsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css')}}">
    <title>CrewwPelis</title>

</head>
<body>
    <header>
        <!-- header inner -->
        <div class="header">
         <div id="BLR">{% if 'user_id' in session %}<label class="read_more">Sesion Iniciada</label><a class="read_more" href="{{url_for('usuario.CerrarSesion')}}">Cerrar Sesion</a>{% else %}<a class="read_more" href="{{url_for('usuario.IniciarSesion')}}">Iniciar Sesion</a><a  class="read_more" href="{{url_for('usuario.Registro')}}">Registrarse</a>{% endif %}</div>
            <!-- Agrega esto después de los botones de inicio y cierre de sesión -->
            {% if 'user_id' in session %}
            <div id="buscador" class="buscador">
               <h5 id="buscar">BUSCAR PELICULA</h5>
               <form action="{{ url_for('pelicula.buscar_pelicula_por_id', id_pelicula=1) }}" method="GET">
                  <input type="text" name="query" placeholder="Ingrese el título de la película">
                  <button class="" type="submit">Buscar</button>
               </form>
            </div>
            {% else %}
            {% endif %}
             <div class="container">
              <div class="row">
                 <div class="col-md-12 col-sm-3 col logo_section">
                    <div class="full">
                       <div class="center-desk">
                          <div class="logo">
                             <img src="{{ url_for('static', filename='images/Logo2.jpeg') }}">
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>

        {% if 'user_id' in session %}<center><h5>GENEROS</h5></center>{% endif %}     
        <form>
         <center>{% if 'user_id' in session %}<a class="read_more" href="">Modificar Usuario</a>{% endif %}
            {% if 'user_id' in session %}
            <select class="read_more">
               {% for genero in generos %}
                    <option value="{{ genero.idGenero }}">{{ genero.NombreGenero }}</option>
                {% endfor %}
            </select>{% endif %}{% if 'user_id' in session %}<a class="read_more" href="">Insertar Pelicula</a></center>{% endif %}
            
        </form>          
     </header>
     
     <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>KUNG FU PANDA<span class="green"> 4</span></h2>
                  <p>Kung Fu Panda 4 es una película de comedia animada de artes marciales producida por DreamWorks Animation y distribuida por Universal Pictures. Es la cuarta entrega de la franquicia Kung Fu Panda, y la secuela de Kung Fu Panda 3</p>
                  <a class="read_more" href="{{url_for('pelicula.mostrar_peliculas')}}" >Ver Pelicula</a>
                  <a class="read_more" href="">Descargar Pelicula</a>
               </div>
            </div>
            <div class="col-md-7">
               <div class="about_img">
                  <img src="{{ url_for('static', filename='images/kunfupanda4.jpg') }}">
               </div> 
            </div>
         </div>
      </div>
   </div>
   <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="about_img">
                  <figure><img src="{{ url_for('static', filename='images/Deadpool.jpg') }}"></figure>
               </div>
            </div>
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>DEADPOOL<span class="green"> 3</span></h2>
                  <p>Lobezno se recupera de sus heridas cuando se cruza con el bocazas, Deadpool, que ha viajado en el tiempo para curarlo con la esperanza de hacerse amigos y formar un equipo para acabar con un enemigo común</p>
                  {% if 'user_id' in session %}
                  <a class="read_more" href="{{url_for('pelicula.mostrar_peliculas')}}">Ver Pelicula</a>
                  <a class="read_more">Descargar Pelicula</a>
                  {% else %}
                  <button class="read_more">Ver Pelicula</button>
                  <button class="read_more">Descargar Pelicula</button>
                  <p>Inicia sesión para acceder a estas funciones.</p>
              {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>      
   <!-- <div id="gallery"  class="gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Las mejores <span class="green">pelis</span></h2>
                  <p>"Donde las luces se apagan y la magia comienza"</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/GranTurismo.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>                  
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/TheCreator.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/Spiderman.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/GatoconBotas.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/NochedelDemonio.jpeg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/Freddy.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/ScreamVI.jpeg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/PlanetaSimios.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/Wonka.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/BlackClover.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/FastX.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/MarioBros.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/LaSociedad.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/Mavka.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/Mission.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/ResidentEvil.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/GuardiansGalaxy.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">
                  <figure><img src="{{ url_for('static', filename='images/Tortugas.jpg') }}"></figure>
                  <div id="botones"><button class="read_more">Ver Pelicula</button><button class="read_more">Descargar Pelicula</button></div>
               </div>
            </div>
         </div>
      </div>
   </div>    -->

<!-- En tu archivo 'index2.html' -->

<div id="gallery"  class="gallery">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Las mejores <span class="green">pelis</span></h2>
               <p>"Donde las luces se apagan y la magia comienza"</p>
            </div>
         </div>
</div>

{% block content %}
    <h1>Listado de Películas</h1>
    <ul>
        {% for pelicula in peliculas %}
            <li>
                <strong>ID:</strong> {{ pelicula.idPelicula }}<br>
                <strong>Título:</strong> {{ pelicula.NombrePelicula }}<br>
                <strong>Género:</strong> {{ pelicula.GeneroPelicula_idGeneroPelicula }}<br>
                {% if pelicula.Imagen %}
                    <img src="{{ url_for('static', filename='images/' + pelicula.Imagen) }}" alt="{{ pelicula.NombrePelicula }}">
                {% endif %}
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

   
</body>
</html>