<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reponsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css')}}">
    <title>CrewwPelis</title>
  
</head>
<body>
    <header>
      <div class="header">
      <div>
        <div class="Div1">
        <div class="DivDiv">
         {% if session['Rol'] ==1 %}<h5>Administrador</h5><a class="black-button" href="{{url_for('pelicula.insertar_pelicula')}}">Insertar Pelicula</a><a class="black-button" href="{{url_for('pelicula.editar_eliminar_pelicula')}}">Modificar Pelicula</a>{% endif %}</div>
         
         <div class="DivDiv" id="BLR">{% if 'idUsuario' in session %}<a class="black-button" href="{{url_for('usuario.CerrarSesion')}}">Cerrar Sesion</a>{% else %}<a class="black-button" href="{{url_for('usuario.IniciarSesion')}}">Iniciar Sesion</a><a  class="black-button" href="{{url_for('usuario.Registro')}}">Registrarse</a>{% endif %}</div> 
         </div>
        
        

         <div class="Div1" >   
         {% if 'idUsuario' in session %}
         <div>
            <h5>Bienvenido, {{ Usuario.NombreUsuario }}</h5>
         </div>   
            <div id="buscador" class="buscador">
               <h5 id="buscar">BUSCAR PELICULA</h5>
               <form action="" method="GET">
                  <input type="text" name="query" placeholder="Ingrese el título de la película">
                  <button class="" type="submit">Buscar</button>
               </form>
            </div>
         </div>
      </div>
            {% endif %}
         <div class="container">
              <div class="row">
                 <div class="col-md-12 col-sm-3 col logo_section">
                    <div class="full">
                       <div class="center-desk">
                          <div class="logo">
                             <img src="{{ url_for('static', filename='images/Logo2.jpeg') }}">
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>        
     </header>
     
     <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>KUNG FU PANDA<span class="green"> 4</span></h2>
                  <p>Kung Fu Panda 4 es una película de comedia animada de artes marciales producida por DreamWorks Animation y distribuida por Universal Pictures. Es la cuarta entrega de la franquicia Kung Fu Panda, y la secuela de Kung Fu Panda 3</p>
                  {% if 'idUsuario' in session %}
                  <a class="read_more" href="https://youtu.be/kg3Q63gzF6I">Ver Pelicula</a>
                  <a class="read_more" href="">Descargar Pelicula</a>
                  {% else %}
                  <button class="read_more">Ver Pelicula</button>
                  <button class="read_more">Descargar Pelicula</button>
                  <p>Inicia sesión o registrate para acceder a estas funciones.</p>
                  {% endif %}
               </div>
            </div>
            <div class="col-md-7">
               <div class="about_img">
                  <img src="{{ url_for('static', filename='images/kunfupanda4.jpg') }}">
               </div> 
            </div>
         </div>
      </div>
   </div>
   <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="about_img">
                  <figure><img src="{{ url_for('static', filename='images/Deadpool.jpg') }}"></figure>
               </div>
            </div>
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>DEADPOOL<span class="green"> 3</span></h2>
                  <p>Lobezno se recupera de sus heridas cuando se cruza con el bocazas, Deadpool, que ha viajado en el tiempo para curarlo con la esperanza de hacerse amigos y formar un equipo para acabar con un enemigo común</p>
                  {% if 'idUsuario' in session %}
                  <a class="read_more" href="https://youtu.be/kxyyKU8rgaU">Ver Pelicula</a>
                  <a class="read_more" href="">Descargar Pelicula</a>
                  {% else %}
                  <button class="read_more">Ver Pelicula</button>
                  <button class="read_more">Descargar Pelicula</button>
                  <p>Inicia sesión o registrate para acceder a estas funciones.</p>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
   
    <div id="gallery"  class="gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Las mejores <span class="green">pelis</span></h2>
                  <p>"Donde las luces se apagan y la magia comienza"</p>
               </div>
            </div>
         </div> 
        
         <style>
            .gallery-box img {
              width: 100%; /* Hacer que la imagen ocupe el 100% del contenedor */
              height: 550px; /* Establecer la altura deseada, ajusta según tus necesidades */
              object-fit: cover; /* Ajustar la imagen manteniendo la relación de aspecto */
            }
          </style>
       
      {% if 'idUsuario' in session %}

      {% endif %} 


   <br>
   <br>
   <br>

      <div class="row" id="listaPeliculas">
         {% for pelicula in peliculas %}
            <div class="col-md-4 pelicula" data-genero-id="{{ pelicula.genero.id }}">
               <div class="gallery-box">
                     <img src="{{ url_for('static', filename='images/' + pelicula.Imagen) }}" alt="{{ pelicula.NombrePelicula }}">
                     <h4>{{ pelicula.NombrePelicula }}</h4>
                     <p>{{ pelicula.genero.NombreGenero }}</p>
                     <form action="{{ url_for('pelicula.ver_pelicula_externa') }}" method="get">
                        <input type="hidden" name="NombrePelicula" value="{{ pelicula.NombrePelicula }}">
                        <button class="black-button" type="submit">Ver Película</button>
                     </form>
                     <form action="" method="get">
                        <button class="black-button" type="submit">Descargar Película</button>
                     </form>
               </div>
            </div>
         {% endfor %}
      </div> 
   

    <br>
    <br>
      <center><footer>
            <p>&copy; 2024 CREWW. Todos los derechos reservados.</p>
      </footer></center>   
</body>
</html>