<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesFor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <script src="../../static/src/ScriptFor.js" defer></script>      
    <title>CrewwPelis Login</title>
</head>
<body>
   <a href="javascript:history.go(-1)" class="back-button" style="display: inline-block; padding: 5px; width: 60px; height: 60px;">
      <img src="{{ url_for('static', filename='images/Volver.png') }}" alt="Volver">
   </a>
  <center><div class="header">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                        <img src="{{ url_for('static', filename='images/Logo2.jpeg') }}">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div></center>  
   <div id="gallery"  class="gallery">
    <div class="form">
          <br>
          <br>
          
          <div id="login">   
            <h1>Inicie Sesion</h1>
            
            <form method="POST" action="{{ url_for('usuario.IniciarSesion') }}">
            
              <div class="field-wrap">
                <input type="text" id="NombreUsuario" name="Nombre" required>
              </div>
              
              <div class="field-wrap">
                <input type="password" id="ContrasenaUsuario" name="Contrasena" required>
              </div>
              
              <p class="forgot"><a href="#">Forgot Password?</a></p>
              
              <center><button type="submit" class="read_more"  >Iniciar Sesion</button></center>
              
            </form>
          </div>
          
        
  </div> <!-- /form -->   
</div>   
    
</body>
</html> 