<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewwPelis Modificar Usuario</title>
</head>
<body>

    <form method="post" action="{{ url_for('usuario.modificar_usuario', idUsuario=usuario.idUsuario) }}">
        <!-- Campos del formulario -->
        <label for="NombreUsuario">Nombre de Usuario:</label>
        <input type="text" id="NombreUsuario" name="NombreUsuario" value="{{ usuario.NombreUsuario }}" required>
    
        <label for="ContrasenaUsuario">Contraseña:</label>
        <input type="password" id="ContrasenaUsuario" name="ContrasenaUsuario" required>
    
        <!-- Agrega otros campos según sea necesario -->
    
        <button type="submit">Guardar cambios</button>
    </form>

    <form method="post" action="{{ url_for('usuario.eliminar_usuario', idUsuario=usuario.idUsuario) }}">
        <p>¿Estás seguro de que deseas eliminar al usuario {{ usuario.NombreUsuario }}?</p>
        <button type="submit">Sí, eliminar</button>
    </form>
    
        
    
</body>
</html>