<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Película</title>
</head>
<body>
    <h1>Insertar Nueva Película</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <label for="NombrePelicula">Nombre de la Película:</label>
        {{ form.NombrePelicula(size=50) }}<br>
        <label for="GeneroPelicula_idGeneroPelicula">ID del Género:</label>
        {{ form.GeneroPelicula_idGeneroPelicula }}<br>
        <label for="Imagen">Imagen de la Película:</label>
        {{ form.Imagen }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>
