<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesFor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>Insertar Película</title>
</head>
<body>
    <center><div class="header">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-3 col logo_section">
                 <div class="full">
                    <div class="center-desk">
                       <div class="logo">
                          <img src="{{ url_for('static', filename='images/Logo2.jpeg') }}">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div></center>  
    <div id="gallery"  class="gallery">
        <div class="form">    
        <h1>Insertar Nueva Película</h1>
        <form method="POST" action="{{ url_for('pelicula.insertar_pelicula') }}" enctype="multipart/form-data">
            <div>
               <h2>Nueva Pelicula</h2>
               <div>
                  <label for="NombrePelicula">Nombre Pelicula:</label>
               </div>
               <div>
                  <input type="text" id="NombrePelicula" name="NombrePelicula">
               </div>
               <div>
                  <div>
                     <label for="GeneroPelicula">Gnero Pelicula:</label>
                  </div>
                  <div>
                     <select name="GeneroPelicula" id="GeneroPelicula">
                        {% for genero in generos %}
                        <option value="{{genero.idGenero}}">{{genero.NombreGenero}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div> 
            </div>
            <div>
               <div>
                  <label for="ImagenPelicula">Imagen:</label>
               </div>
               <div>
                  <input type="file" id="ImagenPelicula" name="ImagenPelicula">
               </div>
            </div>
            <center><button class="read_more" href="{{url_for(pelicula.insertar_pelicula)}}"></button></center>
        </form>        
        </div>
    </div>
        
</body>
</html>
