<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">     
    <title>CrewwPelis Modificar Peliculas</title>
</head>
<body>
    <a href="javascript:history.go(-1)" class="back-button" style="display: inline-block; padding: 5px; width: 60px; height: 60px;">
        <img src="{{ url_for('static', filename='images/Volver.png') }}" alt="Volver">
     </a>   
      <center><div class="header">
          <div class="container">
             <div class="row">
                <div class="col-md-12 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                         <div class="logo">
                            <img src="{{ url_for('static', filename='images/Logo2.jpeg') }}">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div></center>
       
       <div id="gallery" class="gallery">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Editar o Eliminar Películas</h2>
              <form method="POST" action="{{ url_for('pelicula.procesar_edicion_eliminacion') }}">
                {% for pelicula in peliculas %}
                  <div>
                    <label>
                      <input type="checkbox" name="seleccionadas" value="{{ pelicula.idPelicula }}">
                      {{ pelicula.NombrePelicula }} - {{ pelicula.genero.NombreGenero }}
                    </label>
                  </div>
                {% endfor %}
                <button type="submit" class="black-button">Editar Película</button>
                <button type="submit" class="black-button" formaction="{{ url_for('pelicula.eliminar_pelicula') }}">Eliminar Película</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </div>     
</body>
</html>